<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">//parallel="tests" multiple test execute parallel
  <test thread-count="5" name="chromeTest">//parallel="classes" at test tag.where under test tag multipe class tah will be shown.if use parallel attribute.multiple class execute parallelly
  <parameter name="browser" value="chrome"/>
   <parameter name="url" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"/>
    <classes>
      <class name="day20.ParamTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="edgeTest">
  <parameter name="browser" value="edge"/>
   <parameter name="url" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"/>
    <classes>
      <class name="day20.ParamTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="firefoxTest">
  <parameter name="browser" value="firefox"/>
   <parameter name="url" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"/>
    <classes>
      <class name="day20.ParamTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
